### Python for Data Science

##### My First Program, Data Types, Expressions, & Variables

In [2]:
# Check Python Version
import sys
print(sys.version)

3.7.2 (default, Dec 29 2018, 00:00:04)
[Clang 4.0.1 (tags/RELEASE_401/final)]

In [3]:
# Traditional First Program
print('Hello, Python World!')

Hello, Python World!

**Python uses different object/data types. The first data types we'll practice are:**  
1) Strings: words/text (Use single or double quotes)    
2) Integers: -3, -2, -1, 0, 1, 2, 3, etc.   
3) Floats: -3.0, -2.0, -1.0, 0.0, 1.0, 2.0, 3.0, etc.

In [7]:
# A string:
print("Words/Text")

Words/Text

In [14]:
# An integer:
print(-145)

-145

In [9]:
# A float:
print(84.67)

84.67

**Determine the type of object/data you are working with using the type() function:**

In [11]:
# What type is this?
type('words/text')

str

In [19]:
# What type is this?
type(-5)

int

In [22]:
# What type is this?
type(-34.67)

float

In [23]:
# Check system float settings:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

**Typecasting: Changing from one object/data type to another:**

In [24]:
# Convert integer to float:
float(2)

2.0

In [25]:
# Convert float to integer:
int(2.0)

2

In [27]:
# Convert integer to float and check its type:
type(float(45))

float

In [28]:
# Convert float to integer and check its type:
type(int(12.345))

int

In [30]:
# Convert a string to a float:
float('12')

12.0

In [31]:
# Convert a string to an integer:
int('34')

34

In [32]:
# Convert an integer to a string:
str(98)

'98'

In [33]:
# Convert a float to a string:
str(98.98)

'98.98'

**Boolean Data Type:**

Boolean data type has two values: True or False

In [36]:
# Value True
bool(1)

True

In [37]:
# Value False
bool(0)

False

In [38]:
# Check the type:
type(True)

bool

In [39]:
# Check the type:
type(False)

bool

In [40]:
# Cast boolean as an integer:
int(True)

1

In [41]:
# Cast 1 as a boolean:
bool(1)

True

In [42]:
# Cast boolean as a float:
float(False)

0.0

**Expressions:**

In [44]:
# Addition:
12+34

46

In [45]:
# Subtraction:
12-34

-22

In [46]:
# Multiplication:
12*34

408

In [54]:
# Division using '/' does not round:
34/12

2.8333333333333335

In [55]:
# Division using '//' rounds down to nearest integer:
34//12

2

In [56]:
# How many hours in 160 minutes?
160/60

2.6666666666666665

**Python follows mathematical order of operations (PEMDAS) when evaluating expressions:**

In [60]:
# Multiplies 6 times 8 then adds 20:
20 + 6 * 8

68

In [61]:
# Adds 20 plus 6 then multiplies by 8:
(20 + 6) * 8

208

**Variables:**

Assigning values to variables:

In [64]:
a = 12 + 34 * 56 / 78
print(a)

36.41025641025641

In [69]:
b = 90 / a
print(b)

2.471830985915493

In [71]:
c = a + b
c

38.882087396171904

In [72]:
# Use meaningful variable names:
total_mins = 12 + 34 + 56 + 78 + 90
total_mins

270

In [73]:
total_hours = total_mins/60
total_hours

4.5

**The End!**